.postContentFormat {
  @apply font-mono;
  margin-bottom: 3rem;
}

/* First Letter Styling */
.postContentFormat> :first-child::first-letter {
  float: left;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: 3rem;
  font-weight: bold;
  color: #8A2BE2;
}

/* For mozila only */
@-moz-document url-prefix() {
  .postContentFormat> :first-child::first-letter {
    padding-top: 0.5rem;
  }
}

/* URL button Styling */
.postContentFormat a {
  @apply text-purple-600;
}

/* ordered list Styling */
.postContentFormat ol {
  @apply list-decimal list-outside pl-[1.75rem];
}

/* unordered list Styling */
.postContentFormat ul {
  @apply list-disc pl-[1rem];
}

/* image Styling */
.postContentFormat img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 1.5rem auto;
}

/* mini code Styling */
.postContentFormat code {
  border-radius: 4px;
  background: rgb(243, 240, 249);
  border: 1px solid rgb(182, 182, 182);
  padding: 4px;
}

/* box code Styling */
.postContentFormat pre {
  border-radius: 0.25rem;
  background: rgb(243, 240, 249);
  border: 1px solid rgb(182, 182, 182);
  padding: 1.5rem;
  margin: 0.75rem 0
}

/* code in box Styling */
.postContentFormat pre code {
  border: 0;
  padding: 0;
  background: transparent;
}

/* quote Styling */
.postContentFormat blockquote {
  margin-left: 0.2rem;
  padding-left: 1rem;
  border-left: 4px solid rgb(196, 196, 196);
}