/* FONTS ===================================== */

@font-face {
  font-family: "circular-web";
  src: url("/public/fonts/circularweb-book.woff2") format("woff2");
}

@font-face {
  font-family: "general";
  src: url("/public/fonts/general.woff2") format("woff2");
}

@font-face {
  font-family: "robert-medium";
  src: url("/public/fonts/robert-medium.woff2") format("woff2");
}

@font-face {
  font-family: "robert-regular";
  src: url("/public/fonts/robert-regular.woff2") format("woff2");
}

@font-face {
  font-family: "zentry";
  src: url("/public/fonts/zentry-regular.woff2") format("woff2");
}

/* BASE ====================================== */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: circular-web, general, robert-medium, robert-regular, zentry;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding:0;
}

ul{
  list-style:none;
}

a{
  text-decoration:none;
}

/* LAYOUT ======================================== */

.grid{
  display:grid;
  gap: 1.5rem;
}

.header{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.main{
  min-height: 100vh;
}



/* @media screen and (min-width:968px){
  .header,
  .main,
  .footer__container{
      padding: 0 1rem;
  }
} */

/* @media screen and (min-width:1024px){
  .header,
  .main,
  .footer__container{
      padding: 0;
  }
} */


