/* BASE ====================================== */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding:0;
}

ul{
  list-style:none;
}

a{
  text-decoration:none;
}

/* LAYOUT ======================================== */

.grid{
  display:grid;
  gap: 1.5rem;
}

.header{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.main{
  min-height: 100vh;
}



/* @media screen and (min-width:968px){
  .header,
  .main,
  .footer__container{
      padding: 0 1rem;
  }
} */

/* @media screen and (min-width:1024px){
  .header,
  .main,
  .footer__container{
      padding: 0;
  }
} */


